.Frame {
  display: flex;
  background-color: brown;
  width: 320px;
  height: 520px;
  position: relative;
  flex-direction: column;
}

.calculator-display{
  color: white;
  background: #1c191c;

  
  flex: 1;
}

.calculator-keypad {
  height: 400px;
  flex-wrap: wrap;
  display: flex;
}

.btn {
  width: 80px;
  height: 80px;
}